@model ResetPasswordViewModel


@{
	ViewData["Title"] = "Check Email";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<div>
				Password reset Link has been sent to your email. Please Check Your Inbox :)
			</div>
			<div>
				<a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
