@model ResetPasswordViewModel


@{
	ViewData["Title"] = "Reset Password Completed";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<div>
				Your Password Was Reseted Successfully, Please Login Again :)
			</div>
			<div>
				<a asp-action="SignIn" asp-controller="Account">Login In</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
